[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/sprig-mptt"]
	path = modules/sprig-mptt
	url = git://github.com/banks/sprig-mptt.git
[submodule "modules/sprig"]
	path = modules/sprig
	url = git://github.com/shadowhand/sprig.git
[submodule "modules/kohanut"]
	path = modules/kohanut
	url = git://github.com/bluehawk/kohanut-core
[submodule "modules/kohana-twig"]
	path = modules/kohana-twig
	url = git://github.com/jonathangeiger/kohana-twig
